html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background: #f5f6f8;

	font-family: Roboto, sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #101113;
	--white: white;
	--font-family: "Roboto", sans-serif;
}
